.layoutCustomTrigger {
  color: #1890ff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .layoutHeader {
    padding: 0;
    position: relative;
    z-index: 999;

    .adaptiveBackground {
      display: flex;
      position: relative;
      top: -52px;
      pointer-events: none;
      .left {
        background: url("@/assets/images/top/1.png") center center no-repeat;
        background-size: 100% 100%;
        width: 900px;
        height: 181px;
      }
      .centerAuto {
        height: 100%;
        &::after {
          content: "";
          background: url("@/assets/images/top/2.png");
          background-size: 100% 100%;
          background-repeat: repeat-x;
          height: 116px;
          display: block;
        }
      }
      .right {
        background: url("@/assets/images/top/3.png") center center no-repeat;
        background-size: 100% 100%;
        width: 405px;
        height: 116px;
      }
    }

    .containerBody {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        padding: 22px 0 0 20px;
        font-size: 28px;
        color: #F1FDFF;
        font-weight: bold;
        letter-spacing: 6px;
      }
      :deep(.menu) {
        flex-grow: 1;
        text-align: center; 
        background: none !important;
        .ant-menu-title-content {
          color: #F1FDFF;
          font-size: 16px;
          font-weight: bold;
          position: relative;
          top: 2px;
        }
        .ant-menu-item-selected, .ant-menu-submenu-selected {
          background: none !important;
          &::before {
            content: "";
            background: url("@/assets/images/top/menu-select.png") center center no-repeat;
            background-size: 100% 100%;
            width: 210px;
            height: 78px;
            position: absolute;
            left: -31px;
            top: 2px;
          }
        }
        .ant-menu-item, .ant-menu-submenu {
          width: 130px;
          &:hover {
            &::before {
              content: "";
              background: url("@/assets/images/top/menu-select.png") center center no-repeat;
              background-size: 100% 100%;
              width: 210px;
              height: 78px;
              position: absolute;
              left: -31px;
              top: 2px;
            }
          }
        }
      }
      
      .userInfo {
        width: 120px;
        .userIcon {
          color: #fff;
          font-size: 18px;
          padding-right: 5px;
          position: relative;
          top: 2px;
        }
        a {
          color: #fff;
        }
      }  
    }
  }

  .layoutContent {
    overflow: hidden;
    .layoutContentContainer {
      height: 100%;
      .breadcrumb {
        margin: 13px 0;
        ::v-deep(.ant-breadcrumb-link) {
          color: #dff6ff;
          cursor: pointer;
        }
      }
    }
  }

  &.allAround {
    .layoutContent {
      .layoutContentContainer {
        background: #081A2A;
        padding: 20px;
        .layoutContentBody {
          background: #081A2A;
          height: calc(100vh - 150px);
        }
      }
    }
  }
}

