/*
 * @author: zzp
 * @date: 2023-08-29 14:14:51
 * @fileName: index.less
 * @filePath: src/views/Dashboard/components/index.less
 * @description: 组件样式
 */
.equipmentStatus {
  height: 270px;
  // background: red;
  .contentBar {
    position: relative;
    .chart {
      width: 190px;
      height: 240px;
      position: relative;
      top: -20px;
      left: -5px;
      z-index: 3;
      display: inline-block;
    }
    .chartStyles {
      position: absolute;
      top: 51px;
      left: 41px;
      pointer-events: none;
      &::before {
        content: "";
        width: 99px;
        height: 99px;
        border-radius: 99px;
        background: #3d7eff36;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
      }
      &::after {
        content: "";
        width: 83px;
        height: 83px;
        border-radius: 83px;
        background: linear-gradient(39deg, #3932FF 0%, #32A6FF 100%);
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: 2;
      }
    }
    .statusList {
      background: url("@/assets/images/dashboard/icon/equipmentBag.png") no-repeat center center;
      background-size: 100% 100%;
      width: 249px;
      height: 136px;
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 35px;
      .statusItem {
        width: 100%;
        height: 33px;
        line-height: 33px;
        margin-top: 19px;
        &:first-child {
          margin-top: 0;
        }
        label {
          font-size: 16px;
          color: #F1FDFF;
          padding-left: 62px;
        }
        .statusNumber {
          color: #53B7F1;
          font-size: 18px;
          float: right;
          margin-right: 20px;
        }
      }
    }
  }
} 

.dynamo {
  height: 355px;
  .contentBar {
    margin-top: -5px;
    .topIcons {
      padding-left: 107px;
      .iconItem {
        width: 100px;
        text-align: center;
        display: inline-block;
        margin-right: 50px;
        i {
          width: 66px;
          height: 71px;
          display: block;
          margin-left: 16px;
          &.ark {
            background: url("@/assets/images/dashboard/icon/equipment1.png") no-repeat center center;
            background-size: 100% 100%;
          }
          &.namo {
            background: url("@/assets/images/dashboard/icon/equipment2.png") no-repeat center center;
            background-size: 100% 100%;
          }
        }
        div {
          font-size: 14px;
          color: #bebebe;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
    .contentBody {
      position: relative;
      .backImgs {
        position: absolute;
        top: -15px;
        left: 85px;
        div {
          background: url("@/assets/images/dashboard/icon/djImg.png") no-repeat center center;
          background-size: 100% 100%;
          width: 133px;
          height: 230px;
          margin-right: 19px;
          display: inline-block;
        }
      }
      .contentItem {
        padding-left: 40px;
        padding-top: 20px;
        position: relative;
        margin-bottom: 1px;
        label {
          font-size: 14px;
          color: #bebebe;
          font-weight: bold;
          letter-spacing: 2px;
          padding-right: 37px;
        }
        div {
          font-weight: bold;
          color: #FFFFFF;
          font-size: 25px;
          display: inline-block;
          margin-right: 77px;
          width: 80px;
          text-align: center;
        }
      }
    }
  }
}

.equipmentSearch {
  .contentBar {
    padding-left: 8px;
    margin-top: -5px;
    .searchBox {
      display: flex;
      ::v-deep(.ant-input) {
        width: 320px;
        height: 32px;
        background-color: rgba(16, 48, 94, 0.45);
        border-radius: 2px;
        border: solid 1px #3669ac;
        box-shadow: none !important;
        color: #ffffff;
      }
      .searchBtn {
        background: url("@/assets/images/dashboard/icon/queryEquipmentBtn.png") no-repeat center center;
        background-size: 100% 100%;
        width: 108px;
        height: 32px;
        margin-left: 8px;
        font-size: 14px;
        letter-spacing: 3px;
        color: #ffffff;
        line-height: 32px;
        text-align: center;
        padding-left: 6px;
        cursor: pointer;
        &:hover {
          opacity: .9;
        }
      }
    }
    .smallTable {
      margin-top: 10px;
      height: calc(100vh - 842px);
      overflow-y: auto;
      ::v-deep(.ant-table) {
        background: none !important;
        .ant-table-tbody {
          tr {
            background: none;
            border: none;
            td {
              background: none;
              border: none;
              padding: 0;
              .customRow {
                display: flex;
                .icon {
                  width: 5px;
                  height: 42px;
                  background: red;
                  margin-right: 5px;
                }
                .rowBody {
                  background: linear-gradient(90deg, #214199c2 0%, rgba(30,84,156,0.1) 100%);
                  border: 1px solid rgba(130,175,255,0.31);
                  width: 100%;
                  height: 42px;
                  line-height: 42px;
                  border-bottom: none;
                  border-right: 1px solid rgb(176 192 220 / 17%);
                  display: flex;
                  .eqIcon {
                    height: 100%;
                    border-right: 1px solid rgba(130,175,255,0.31);
                    padding-right: 2px;
                    &::before {
                      content: "";
                      background: url("@/assets/images/dashboard/icon/eqIcon.png") no-repeat center center;
                      background-size: 100% 100%;
                      width: 52px;
                      height: 32px;
                      display: inline-block;
                      position: relative;
                      top: 5px;
                    }
                  }
                  .name {
                    width: 310px;
                    padding-left: 15px;
                    color: #FFFFFF;
                    font-size: 14px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .status {
                    padding-left: 10px;
                    color: #199CFF;
                    font-size: 14px;
                    letter-spacing: 2px;
                  }
                }
                &.customRow-0 {
                  .icon {
                    background: #5A5A5A;
                  }
                  .status {
                    color: #55595C;
                  }
                }
                &.customRow-1 {
                  .icon {
                    background: #3E9CFF;
                  }
                  .status {
                    color: #199CFF;
                  }
                }
                &.customRow-2 {
                  .icon {
                    background: #FF3E3E;
                  }
                  .status {
                    color: #FF1919;
                  }
                }
              }
            }
            &:nth-child(even){
              td {
                .customRow {
                  .rowBody {
                    background: linear-gradient(90deg, #262F46 0%, rgba(5,38,82,0.1) 100%);
                    border-right: 1px solid rgba(130,175,255,0.31);
                    border-left: 1px solid rgba(130,175,255,0.31);
                  }
                }
              }
            }
            &:last-child {
              td {
                .customRow {
                  .rowBody {
                    border-bottom: 1px solid rgba(130,175,255,0.31);
                  }
                }
              }
            }
          }
        }
      }
      .statusTag {
        border-radius: 2px;
        font-size: 12px;
        &[data-name="status-0"] {
          background-color: rgba(217, 217, 217, 0.2);
          border: solid 1px #a8a8a8;
          color: #acacac;
        }
        &[data-name="status-1"] {
          background-color: rgba(146, 204, 255, 0.2);
          border: solid 1px #00c4ff;
          color: #00c4ff;
        }
        &[data-name="status-2"] {
          color: #df616b;
          background-color: #cf132229;
          border-color: #d63d49;
        }
      }
    }
  }
} 


.powerConsumption {
  height: 290px;
  .contentBar {

  }
}

.lowPressure {
  height: 260px;
  .contentBar {
    height: 200px;
    overflow-y: auto;
  }
}

.eventInformation {
  height: 260px;
  .contentBar {
    height: 200px;
    overflow-y: auto;
  }
}