/*
 * @author: zzp
 * @date: 2023-09-21 15:29:25
 * @fileName: index.less
 * @filePath: src/views/Dashboard/components/index.less
 * @description:  
 */
.dataStatistics {
  height: 250px;
  .contentBar {
    margin-top: 10px;
    .projectItem {
      display: inline-block;
      margin-bottom: 25px;
      > div {
        width: 206px;
        display: flex;
        .itemImg {
          width: 66px;
          height: 71px;
          &[data-name="project"] {
            background: url("@/assets/images/dashboard/icon/equipment1.png") no-repeat center center;
            background-size: 100% 100%;
          }
          &[data-name="controller"] {
            background: url("@/assets/images/dashboard/icon/equipment4.png") no-repeat center center;
            background-size: 100% 100%;
          }
          &[data-name="equipment"] {
            background: url("@/assets/images/dashboard/icon/equipment2.png") no-repeat center center;
            background-size: 100% 100%;
          }
          &[data-name="alarm"] {
            background: url("@/assets/images/dashboard/icon/equipment3.png") no-repeat center center;
            background-size: 100% 100%;
          }
        }
        .itemData {
          margin: 10px 0 0 15px;
          width: 120px;
          .itemNumber {
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 4px;
            color: #4ED1FF;
          }
          .itemName {
            font-size: 14px;
            color: #E4F8FF;
            margin-top: 5px;
            letter-spacing: 2px;
          }
        }
      }

    }
  }
}

.equipmentStatus {
  height: 355px;
  .contentBar {
    .progressList {
      margin-top: 10px;
      .progressItem {
        margin: 0 20px;
        display: inline-block;
        .percentInfo {
          .scale {
            font-size: 18px;
            font-weight: bold;
          }
          .label {
            font-size: 14px;
            color: #FFFFFF;
            margin-top: 5px;
            span {
              font-size: 12px;
              color: #d5d5d5;
              padding-left: 2px;
            }
          }
        }
        .itemTitle {
          color: #ffffff;
          font-size: 16px;
          display: table;
          margin: 0 auto;
          cursor: pointer;
          &.active, &:hover {
            &::after {
              content: "";
              width: 100%;
              height: 2px;
              display: inline-block;
              background: var(--percent-active-color);
              position: relative;
              top: -8px;
            }
          }
          &:hover {
            opacity: .7;
          }
        }
      }
    }
    .eventTable {
      height: calc(100vh - 800px);
      overflow-y: auto;
      .status {
        &.status-0 {
          color: #c1c1c1;
        }
        &.status-1 {
          color: #4ED1FC;
        }
        &.status-2 {
          color: #FF1919;
        }
      }
    }
  }
}

.alarmStatistics {
  height: calc(100vh - 730px);
  .contentBar {
    width: 100%;
    height: calc(100% - 40px);
    .chart {
      width: 100%;
      height: 100%;
    }
  }
}

.powerConsumption {
  height: 230px;
  .contentBar {
    width: 100%;
    height: 180px;
    .chart {
      width: 100%;
      height: 100%;
    }
  }
}

.lowPressure {
  height: 220px;
  .contentBar {
    width: 100%;
    height: 170px;
    .chart {
      width: 100%;
      height: 100%;
    }
  }
}

.eventInformation {
  .contentBar {
    margin-top: -5px;
    overflow-y: auto;
    .eventTable {
      height: calc(100vh - 620px);
      overflow-y: auto;
      ::v-deep(.ant-table) {
        background: none !important;
        .ant-table-tbody {
          tr {
            background: none;
            border: none;
            height: 68px;
            td {
              background: none;
              border: none;
              padding: 0;
              .customRow {
                display: flex;
                .icon {
                  background: url("@/assets/images/dashboard/icon/alarm-1.png") no-repeat center center;
                  background-size: 100% 100%;
                  width: 98px;
                  height: 47px;
                  display: inline-block;
                  position: relative;
                  top: 5px;
                }
                .rowBody {
                  width: 316px;
                  margin-left: 5px;
                  .title {
                    background: linear-gradient(90deg, rgba(39,100,147,0) 0%, #193A6B 43%, rgba(39,100,147,0) 100%);
                    height: 28px;
                    line-height: 28px;
                    width: 100%;
                    font-weight: bold;
                    color: #D1F1FE;
                    padding-left: 20px;
                  }
                  .lineFeed {
                    margin-top: 5px;
                    padding-left: 20px;
                    .name, .time {
                      color: #bebebe;
                      font-size: 14px;
                      display: inline-block;
                    }
                    .time {
                      float: right;
                    }
                  }
                }
                &.customRow-2 {
                  .icon {
                    background: url("@/assets/images/dashboard/icon/alarm-2.png") no-repeat center center;
                    background-size: 100% 100%;
                    width: 98px;
                    height: 47px;
                    display: inline-block;
                  }
                }
                &.customRow-3 {
                  .icon {
                    background: url("@/assets/images/dashboard/icon/alarm-3.png") no-repeat center center;
                    background-size: 100% 100%;
                    width: 98px;
                    height: 47px;
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}