#app {
  width: 100%;
  height: 100%;
  >.ant-layout {
    width: 100%;
    height: 100%;
  }
}

.ant-table-wrapper .ant-table-cell-scrollbar:not([rowspan]) {
  box-shadow: none !important;
}
.ant-table-empty .ant-table-tbody >tr:last-child>td {
  border-bottom: none !important;
}

.ant-picker-panel-container {
  background: #162c60 !important;
}
.ant-picker-time-panel {
  .ant-picker-time-panel-cell-selected {
    .ant-picker-time-panel-cell-inner {
      background: #199cd1 !important;
    }
  }
}

.ant-picker-active-bar {
  display: none;
}

.ant-table-wrapper .ant-table-tbody >tr >td {
  padding: 12px;
}
.ant-menu-submenu-popup {
  border: 1px solid #153657;
  .ant-menu-title-content {
    color: #fff;
  }
  .ant-menu-item-selected {
    background: #0c4f8f;
    .ant-menu-title-content {
      font-weight: bold;
    }
  }
  .ant-menu-item {
    &:hover {
      background: #0c4f8f !important;
    }
  }
}

.liInlineBlock {
  border: 1px solid #153657;
  ul {
    width: 420px;
  }
  .ant-menu-item {
    display: inline-block !important;
    width: 200px !important;
  }
  &::after {
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    background: #153657;
    position: absolute;
    top: 0;
    left: calc(50% - 2px);
  }
}

.ant-dropdown {
  .ant-dropdown-menu {
    background: #001529;
    border: 1px solid #bbbbbb48;
    max-height: 450px;
    overflow-y: auto;
    .ant-dropdown-menu-item {
      padding: 8px 12px !important;
      &:hover {
        background: #0c4f8f !important;
        font-weight: bold;
      }
    }
  }
}

.ant-select-dropdown {
  background: #001529;
  .ant-select-item-option-selected {
    background: #0c4f8f !important;
    font-weight: bold;
  }
}

.parcel {
  height: 100%;
  border: 1px solid #44668A;
  .pageHeader {
    height: 52px;
    background: linear-gradient(180deg, #0552B6 0%, #01294C 100%) !important;
    border-bottom: 1px #44668A solid;
    background: none;
    padding: 0;
    .ant-page-header-heading {
      padding: 0 !important;
      height: 100%;
      .ant-page-header-heading-left {
        padding-left: 20px;
        color: #DFF6FF;
        .ant-page-header-heading-title {
          font-size: 18px;
          font-weight: 400;
        }
      }
      .ant-page-header-heading-extra {
        margin: 8px 20px;
        .ant-btn {
          background: #197CD1;
          border: none;
          color: #ffffff;
        }
      }
    }
    &.super {
      border-top: 1px #1675af solid;
      margin-bottom: 20px;
      box-shadow: 0 0 8px #1675af inset;
    }
  }

  .searchContainer {
    padding: 20px;
    .batchOperation {
      .ant-select-selector {
        background: #05142e;
        border-color: #354c57;
      }
      .ant-select-selection-placeholder {
        color: #dff6ff !important;
        font-size: 14px !important;
      }
    }
    .searchBox {
      width: 185px;
      height: 32px;
      .ant-input {
        height: 100%;
        font-size: 14px;
        border-radius: 3px;
        background: #05142e;
        border-color: #354c57;
        &::placeholder {
          color: #bbbbbb !important;
        } 
        &:focus {
          box-shadow: none;
        }
      }
      .ant-btn {
        height: 33px;
        background: #197CD1;
        box-shadow: none;
      }
    }
  }

  &.newChartParcel {
    .echartBox {
      width: 100%;
      height: 350px;
      padding: 20px;
    }
    .ant-radio-group {
      .ant-radio-button-wrapper {
        color: #fff;
        background: #0c3151;
        border-color: #296aaa;
        &.ant-radio-button-wrapper-checked  {
          color: #fff;
          background: #197CD1;
          border-color: #296aaa;
        }
      }
    }
  }
}

.ant-drawer-content {
  background: #062543 !important;
  .ant-drawer-header {
    border-bottom: 1px solid #436589;
  }
  .ant-drawer-footer {
    border-top: 1px solid #436589;
    padding: 18px 16px !important;
    text-align: right;
    .ant-btn {
      width: 85px;
      height: 36px !important;
      border-radius: 2px;
      box-shadow: none !important;
      margin-right: 20px !important;
      &:last-child {
        margin-right: 0 !important;
      }
      &.ant-btn-default {
        border: 1px solid #436589;
        background: #072543;
      }
      &.ant-btn-primary {
        border: 1px solid #197CD1;
        background: #197CD1;
      }
    }
  }
  .ant-drawer-body {
    padding: 35px 25px 10px 0;
    .ant-form {
      .ant-form-item {
        .ant-form-item-label {
          label {
            font-size: 14px;
            color: #a6c7dd;
          }
        }
      }
      .remark{
        .ant-form-item-label{
          position: relative;
          left: -5px;
        }
        .ant-form-item-control {
          position: relative;
          left: -4px;
        }
      }
    }
  }
  .ant-select-selection-placeholder {
    color: #ffffff49 !important;
  }
  .ant-input, .ant-input-number, .ant-select-selector, .ant-picker {
    background-color: #0E2342 !important;
    border: solid 1px #3882E1 !important;
    height: 32px;
    letter-spacing: 1px;
    color: #ffffff;
    box-shadow: none !important;
    &:focus, &:hover {
      border: none;
      box-shadow: none;
    }
  }
  textarea {
    height: auto !important;
  }
  .ant-input-disabled {
    background-color: #234365 !important;
    color: #ccc;
  }
  .ant-select {
    border: none !important;
    .ant-select-selection-item {
      line-height: 32px;
    }
  }
  .ant-switch {
    background: #6f778d;
    &.ant-switch-checked {
      background: #1675af;
    }
  }
  .ant-select-arrow {
    color: #ffffff49;
  }
  .ant-input-number-handler-wrap {
    background: #ffffff49;
  }
  .ant-input-number, .ant-picker, .ant-input-number-group-wrapper {
    width: 100%;
  }
  .ant-input-number-group-addon {
    background: #162c60;
    border: none;
  }
  input, textarea {
    &::placeholder {
      color: #dff6fe51 !important;
      font-size: 14px;
    } 
  }
}

.unmannedDrawer {
  .ant-drawer-body {
    padding: 20px 30px;
  }
}

.editModal {
  .ant-modal-content {
    background: #062543 !important;
  }

  &.map {
    .ant-modal-header {
      background: none !important;
    }
    .ant-modal-body {
      height: calc(100vh - 300px) !important;
      #map {
        width: 100%;
        height: 100%;
      }
    }
    .ant-modal-footer {
      padding-top: 5px;
      text-align: right;
      .ant-btn {
        width: 85px;
        height: 36px !important;
        border-radius: 2px;
        box-shadow: none !important;
        margin-right: 20px !important;
        &:last-child {
          margin-right: 0 !important;
        }
        &.ant-btn-default {
          border: 1px solid #436589;
          background: #072543;
        }
        &.ant-btn-primary {
          border: 1px solid #197CD1;
          background: #197CD1;
        }
      }
    }
  }
}

.passwordInput{
  -webkit-text-security: disc;
}

.modalSelect {
  background: #162c60 !important;
  // min-width: 125px !important;
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: #246bce !important;
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background: none;
  }
  .ant-select-item {
    &:hover {
      background: #246bce !important;
    }
  }
}


.globalMasking {
  background: url("@/assets/images/dashboard/masking.png") no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  opacity: .95;
}

.highLevelTitleBar {
  background: url("@/assets/images/dashboard/icon/title.png") no-repeat center center;
  background-size: 100% 100%;
  width: 444px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  .chTitle {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;   
    margin-left: 30px; 
    position: relative;
    top: 7px;
  }
}



.ant-empty {
  svg {
    ellipse {
      fill: #213a74;
      stroke: none;
    }
    g {
      path {
        stroke: none;
        &:first-child {
          fill: #1f3978;
        }
        &:last-child {
          fill: #3e568e;
        }
      }
    }
  }
  .ant-empty-description {
    color: #6581c5;
  }
}

.contentContainer {
  margin: 0 20px 20px 20px;
  .ant-table-header {
    border-radius: 0 !important;
  }
  .ant-table-wrapper {
    border: 1px #44668A solid;
    .ant-table-thead {
      tr {
        th {
          background: linear-gradient(180deg, #00459F 0%, #002B57 100%);
          border-radius: 0 !important;
          color: #dff6ff;
          font-size: 14px;
          border-color: #44668A;
          padding: 12px 16px;
          &::before {
            display: none;
          }
        }
      }
    }
    .ant-table-tbody {
      tr {
        background: #031F3D;
        
        td {
          background: #012244;
          color: #dff6ff;
          font-size: 14px;
          border-radius: 0 !important;
          border-color: #44668A !important;
          padding: 17px 16px;
          &.ant-table-cell-fix-right {
            background: #031e3e !important;
          }
        }
        &:nth-child(odd){
          td {
            background: #081A38;
          }
        }
        &:hover {
          td {
            border-color: #1675af !important;
          }
        }
        .ant-btn-link {
          color: #34c4ff;
          &[disabled] {
            color: #929292;
          }
        }
        &.itemActive {
          td {
            background: #197CD1;
            font-weight: bold;
            .ant-btn {
              color: #fff !important;
              font-weight: bold;
            }
          }
        }
      }
    }
    .ant-checkbox-wrapper {
      .ant-checkbox-inner {
        background: none !important;
        border: solid 1px #def5fe;
      }
      .ant-checkbox-indeterminate {
        .ant-checkbox-inner {
          border: solid 1px #a3d4f9;
          &::after {
            background-color: #a3d4f9;
          }
        }
      }
      .ant-checkbox-checked {
        .ant-checkbox-inner {
          background: none !important;
          border: solid 1px #a3d4f9;
          &::after {
            content: "";
            border: 2px solid transparent;
            border-left: 0;
            border-top: 0;
            border-color: #a3d4f9 !important;
            width: 4px;
            height: 7px;
            position: absolute;
            top: 6px;
            left: 3px;
            box-sizing: content-box;
            transform-origin: center;
          }
          &:hover,  &:focus {
            border: solid 1px #a3d4f9 !important;
            box-shadow: none;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }
}

#map {
  background-color: rgb(70, 99, 153);
  outline: none;
}
.leaflet-container {
  .leaflet-tile-container {
    .leaflet-tile {
      -webkit-filter: grayscale(100%) invert(100%);
      -moz-filter: grayscale(100%) invert(100%);
      -ms-filter: grayscale(100%) invert(100%);
      -o-filter: grayscale(100%) invert(100%);
      filter: url(./grayscale.svg#grayscale) gray grayscale(100%) invert(100%);
      opacity: .5 !important;
      visibility: inherit;
      will-change: opacity;
    }
  }
}
.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.ant-list {
  border-radius: 0;
  border: 1px solid #44668A;
  .ant-list-header {
    height: 50px;
    background: linear-gradient(180deg, #0552B6 0%, #01294C 100%) !important;
    background: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-bottom-color: #44668A;
    .rightBox {
      float: right;
      margin-top: -28px;
      label {
        font-size: 14px;
        font-weight: 400;
        margin-right: 8px;
      }
      .ant-select {
        .ant-select-selector {
          background: rgba(7,14,26,0.3);
          border: 1px solid #5d5d5f;
        }
      }
    }
  }
  .ant-spin-container {
    ul {
      .ant-list-item {
        background: #012244 !important;
        border-bottom: 1px solid #44668A !important;
        &:nth-child(odd){
          background: #081A38 !important;
        }
        &.active {
          background: #144c8b !important;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}

.unChartToolTipBox {
  background: #0d3e6ff1;
  color: #FFFFFF;
  font-size: 12px;
  padding: 5px 10px;
  text-align: center;
  .value {
    font-weight: bold;
  }
}

.treeEBox {
  border-radius: 0;
  border: 1px solid #44668A;
  height: 100%;
  display: flex;
  flex-direction: column;
  .threeTitle {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background: linear-gradient(180deg, #0552B6 0%, #01294C 100%) !important;
    background: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #44668A;
  }
  .ant-tree {
    height: 100%;
    overflow-y: auto;
    background: none;
    .ant-tree-list {
      background: #081834;
      padding: 15px 20px;
      .ant-tree-node-selected {
        background: none !important;
      }
      .ant-tree-node-content-wrapper {
        background: none !important;
      }
      .ant-tree-treenode-selected {
        background: #3d7eff;
      }
    }
    .ant-tree-treenode {
      padding: 0;
      height: 35px;
      line-height: 35px;
      display: block;
    }
  }
}

&::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
&::-webkit-scrollbar-track {
  background: #182e42;
  border-radius: 10px;
}
&::-webkit-scrollbar-corner {
  background: #182e42;
  border-radius: 0;
}
&::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0252bb 0%, #002B57 100%);
  border-radius: 10px;
}
&::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #013a85 0%, #001e3c 100%);
}
&::-webkit-scrollbar-thumb:active {
  background: linear-gradient(180deg, #013a85 0%, #001e3c 100%);
}