#app {
  width: 100%;
  height: 100%;
  >.ant-layout {
    width: 100%;
    height: 100%;
  }
}

.tdt-control-copyright {
  display: none !important;
}
.ant-table-wrapper .ant-table-tbody >tr >td {
  padding: 12px;
}
.ant-menu-submenu {
  .ant-menu-title-content {
    color: #fff;
  }
  .ant-menu-item-selected {
    background: #0c4f8f;
    .ant-menu-title-content {
      font-weight: bold;
    }
  }
  .ant-menu-item {
    &:hover {
      background: #0c4f8f !important;
    }
  }
}
.parcel {
  padding: 20px;
  background: #fff;
  height: 100%;
  .pageHeader {
    padding: 0 0 20px 0;
  }
  .searchContainer {
    margin-bottom: 20px;
  }
  .contentContainer {
    width: 100%;
    height: calc(100vh - 230px);
  }
}


.editDrawer {
  .ant-drawer-body {
    padding: 20px 20px 0 0;
    .ant-input-number, .ant-picker, .ant-input-number-group-wrapper {
      width: 100%;
    }
  }
  .ant-drawer-footer {
    text-align: right;
    .ant-btn {
      height: 40px;
      padding: 4px 25px;
      margin-right: 20px !important;
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}

.editModal {
  &.map {
    .ant-modal-body {
      height: calc(100vh - 300px) !important;
      #map {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.globalMasking {
  background: url("@/assets/images/dashboard/masking.png") no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 997;
  pointer-events: none;
  opacity: .95;
}

.highLevelTitleBar {
  background: url("@/assets/images/dashboard/icon/title.png") no-repeat center center;
  background-size: 100% 100%;
  width: 444px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  .chTitle {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;   
    margin-left: 30px; 
    position: relative;
    top: 7px;
  }
}


&::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
&::-webkit-scrollbar-track {
  background: #e4daff;
  border-radius: 10px;
}
&::-webkit-scrollbar-corner {
  background: #e4daff;
  border-radius: 10px;
}
&::-webkit-scrollbar-thumb {
  background: #199cd1;
  border-radius: 10px;
}
&::-webkit-scrollbar-thumb:hover {
  background: #7fbef2;
}
&::-webkit-scrollbar-thumb:active {
  background: #7fbef2;
}